<%- include("partials/header"); -%>                   
<h1> ABOUT</h1>
<p><%=aboutContent %> </p>
<p><%=aboutContent1 %> </p>
<p><%=aboutContent2 %> </p>
<p><%=aboutContent3 %> </p>
<p><%=aboutContent4 %> </p>

<%- include("partials/footer"); -%> 